@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container {
    font-family: 'Roboto', sans-serif;
    background-color: rgb(234, 234, 234);
    margin: 30px 10px;
    border-radius: 5px;
}

#one {
    text-align: center;
    text-shadow: 2px 4px 18px;
}
#one p {
    padding-bottom: 1rem;
    font-size: 18px;
    }

h1 {
    font-size: 38px;
    padding: 2.4rem;
    padding-bottom: 1.4rem;
}

.img {
    object-fit: cover;
    width: 100%;
}

#image {
    width: 76%;
    height: 800px;
}

#two {
    text-align: center;
    background-color: white;
    padding: 20px;
    margin: 30px;
    margin-top: 0px;
}

#outer {
    border-radius: 3px;
    padding: 0 20px;
    margin: 0 70px 20px 70px;
    box-shadow: 3px 3px 10px;
}
#inner {
    background-color: rgb(205, 202, 202);
    margin: 2px 60px;
}

#three {
    width: 40%;
   margin-left: 35%;
   line-height: 20px;
   padding: 10px 0;
   padding-left: 10%;

   background-color: rgb(220, 220, 220);
}
#three h3 {
    padding-bottom: 10px;
}

#link {
    padding: 20px;
}


